/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

div{font-family:  'Courier New', Helvetica, 'Microsoft Yahei', '微软雅黑', Tahoma, Arial, sans-serif;}

.page_search{ background-color: #eee; padding: 10px; margin-top: 5px; width: 100%;}
.page_search label{width: 100px; text-align: right; display: inline-block; font-size: 0.8em; font-weight: bold;}

.page_table{margin-top: 5px; width: 100%; min-width: 800px;}
.page_table .page_table_thead{border-bottom: 1px solid #eee;font-size: 0.8em; color: #000; font-weight: bold;}
.page_table .page_table_tbody{font-size: 0.9em; color: #666;} 
.page_table .page_table_tbody:nth-child(odd){background-color: #f3f3f3;}
.page_table .page_table_tbody a{font-size: 0.8em;text-decoration: none;}
.page_table .page_table_tbody a:hover{text-decoration: underline;}