<!--The content below is only a placeholder and can be replaced.-->
<nav-component></nav-component>
<div fxLayout="row" fxLayoutAlign="start">
  <div fxLayout="column" fxLayoutGap="1px" fxFlex="">
    <menu-component></menu-component>
  </div>

  <div fxLayout="column">
    <div fxLayout="row">
      <md-tab-group>
        <md-tab><ng-template md-tab-label>Dashboard</ng-template></md-tab>
        <md-tab><ng-template md-tab-label>page2</ng-template></md-tab>
        <md-tab><ng-template md-tab-label>page3</ng-template></md-tab>
        <md-tab><ng-template md-tab-label>page4</ng-template></md-tab>
        <md-tab><ng-template md-tab-label>page5</ng-template></md-tab>
        <md-tab><ng-template md-tab-label>page6</ng-template></md-tab>
        <md-tab><ng-template md-tab-label>page7</ng-template></md-tab>
        <md-tab><ng-template md-tab-label>page8</ng-template></md-tab>
        <md-tab><ng-template md-tab-label>page9</ng-template></md-tab>
        <md-tab><ng-template md-tab-label>page10</ng-template></md-tab>
      </md-tab-group>
    </div>
    <div fxLayout="row">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>