<div fxLayout="row" fxLayoutAlign="start center" >
  <div fxLayout="column" fxFlex="33%">
    <h2>LOGO</h2>
  </div>
  <div fxLayout="column" fxFlex="66%" >
    <div fxLayout="row-reverse" fxLayoutGap="1px">
      <button md-raised-button color="primary" [routerLink]="['']">Exit</button>
      <button md-raised-button color="primary" [routerLink]="['']">Account</button>
      <button md-raised-button color="primary" [routerLink]="['']">Intro</button>
      <button md-raised-button color="primary" [routerLink]="['']">Home</button>
    </div>
  </div>
</div>