<div fxLayout="row" fxLayoutAlign="start">
    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="1px">
        <!-- <md-icon>home</md-icon>
        <md-icon>home</md-icon>
        <md-icon>home</md-icon> -->
        <button>Dashboard</button>
        <button>Archives</button>
        <button>Purchase</button>
        <button>Wholesale</button>
        <button>Retail</button>
    </div>

    <div fxLayout="column" fxLayoutAlign="" fxLayoutGap="1px">
        <md-list>
            <md-list-item>
                <md-icon md-list-icon>info</md-icon><a md-line href="">linkA</a>
            </md-list-item>

            <md-list-item>
                <md-icon md-list-icon>empty</md-icon><a md-line href="">linkA1</a>
            </md-list-item>

            <md-list-item>
                <md-icon md-list-icon>empty</md-icon><a md-line href="">linkA2</a>
            </md-list-item>

            <md-list-item>
                <md-icon md-list-icon>empty</md-icon><a md-line href="">linkA3</a>
            </md-list-item>

            <md-list-item>
                <md-icon md-list-icon>info</md-icon><a md-line href="">linkB</a>
            </md-list-item>

            <md-list-item>
                <md-icon md-list-icon>empty</md-icon><a md-line href="">linkB1</a>
            </md-list-item>
        </md-list>
    </div>
</div>